<<<<<<< HEAD
*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	min-width: 700px;
}
ul li{
	list-style: none;
}
#header{
	position: fixed;
	width: 100%;
	height: 90px;
	background: #9D9D9D;
}
#header .logo{
	margin-top: 10px;
	border-radius: 256px;
	width: 75px;
	height: 75px;
	margin-left: 150px;
	/*background: red;*/
	overflow: hidden;
	float: left;
}
#header .logo a img{
	margin-left: 3px;
	margin-top: 4px;
}
#header .title{
	text-align: center;
	margin-left: 15px;
	width: 140px;
	height: 90px;
	float: left;
}
#header .title span{
	color: whitesmoke;
	font-family: FZShuTi;
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	line-height: 20px;
	margin-top: 35px;
}
#header .userIcon{
	font-size: 30px;
	position: absolute;
	right: 200px;
	top: 30px;
	cursor: pointer;
}
#header .userIcon:hover{
	border-radius: 5px;
	box-shadow: #F5F5F5 0 0 3px 3px;
}
#header .userName{
	position: absolute;
	font-size: 18px;
	right: 160px;
	top: 36px;
}
#header .logout{
	position: absolute;
	font-size: 30px;
	right: 90px;
	top: 30px;
	cursor: pointer;
}
#header .logout:hover{
	border-radius: 5px;
	box-shadow: #F5F5F5 0 0 3px 3px;
}
#left-nav{
	position: fixed;
	left: 0;
	top: 90px;
	width: 150px;
	height: 100%;
	background: #DBDBDB;
}
#left-nav a{
	font-family: STXihei;
	font-weight: 500;
}
#myFrame{
	position: fixed;
	top: 90px;
	left: 150px;
	right: 0;
	bottom: 0;
}
=======
*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	min-width: 700px;
}
ul li{
	list-style: none;
}
#header{
	position: fixed;
	width: 100%;
	height: 90px;
	background: #9D9D9D;
}
#header .logo{
	margin-top: 10px;
	border-radius: 256px;
	width: 75px;
	height: 75px;
	margin-left: 150px;
	/*background: red;*/
	overflow: hidden;
	float: left;
}
#header .logo a img{
	margin-left: 3px;
	margin-top: 4px;
}
#header .title{
	text-align: center;
	margin-left: 15px;
	width: 140px;
	height: 90px;
	float: left;
}
#header .title span{
	color: whitesmoke;
	font-family: FZShuTi;
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	line-height: 20px;
	margin-top: 35px;
}
#header .userIcon{
	font-size: 30px;
	position: absolute;
	right: 200px;
	top: 30px;
	cursor: pointer;
}
#header .userIcon:hover{
	border-radius: 5px;
	box-shadow: #F5F5F5 0 0 3px 3px;
}
#header .userName{
	position: absolute;
	font-size: 18px;
	right: 160px;
	top: 36px;
}
#header .logout{
	position: absolute;
	font-size: 30px;
	right: 90px;
	top: 30px;
	cursor: pointer;
}
#header .logout:hover{
	border-radius: 5px;
	box-shadow: #F5F5F5 0 0 3px 3px;
}
#left-nav{
	position: fixed;
	left: 0;
	top: 90px;
	width: 150px;
	height: 100%;
	background: #DBDBDB;
}
#left-nav a{
	font-family: STXihei;
	font-weight: 500;
}
#myFrame{
	position: fixed;
	top: 90px;
	left: 150px;
	right: 0;
	bottom: 0;
}
>>>>>>> second commit
